<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/_layout/template">

    <div th:remove="tag" layout:fragment="conteudo">
        <h1>Lista de Países</h1>

        <div class="alert alert-success"
             th:if="${!#lists.isEmpty(mensagem)}"
             th:text="${mensagem}">

        </div>

        <div class="form-group">
            <a class="btn btn-primary" th:href="@{/pais/novo}">
                <i class="fa fa-plus fa-fw"></i> Novo
            </a>

        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pais:${paises}">
                    <td th:text="${pais.sigla}"> </td>
                    <td th:text="${pais.nome}"></td>
                    <td>
                        <a th:href="@{/pais/alterar/{id}(id=${pais.id})}"
                           class="btn btn-primary">
                            <i class="fa fa-pencil fa-fw"></i> Alterar
                        </a>
                        <a th:href="@{/pais/excluir/{id}(id=${pais.id})}"
                           class=   "btn btn-danger">
                            <i class="fa fa-trash fa-fw"></i> Excluir
                        </a>
                    </td>                    
                </tr>
                <tr th:if="${#lists.isEmpty(paises)}">
                    <td colspan="3"> Nenhum país cadastrado!</td>
                </tr>
            </tbody>
        </table>
    </div>
</html>
